{% extends "base.html" %}
{% block title %}ConcordancCrawler demo{% endblock %}
{% block content %}

{%if error_message %}
<b>
	{{ error_message }}
</b><br>
{% endif %}

<h2>Create new job</h2>

<p>
<form action="{% url 'create' %}" method="post" id="form">
{% csrf_token %}
<!--    <input type="text" name="choice" id="choice1" value="1" />
-->
		<textarea rows="4" cols="50" name="choice">Napiš sem text, který chceš převést do bratrského pravopisu.</textarea>
		<br />
<!--		<label for="choice1">1</label>
-->
		<input type="submit" value="Create new job" />
</form>
</p>

{% endblock %}

